body{
    font-family: 'Comic Sans MS',cursive,sans-serif;
    margin:0 auto;
    padding:0;
    background:linear-gradient(to bottom right,#00ffff,#b0e0e6,#00ffff);
    color:#333;
}
header{
    text-align: center;
    padding:20px;
    background:linear-gradient(135deg,#0000ff,#00ffff,#0000ff);
    border-bottom:5px dashed ;
}
header h1{
   font-size:2.5rem;
   text-shadow:2px 2px 0 #fffacd;
   animation:slideIn 2s ease-in-out;
}
nav ul{
    list-style:none;
    padding:0;
}
nav ul li{
    display:inline-block;
    margin:0 10px;
    text-decoration: solid;
}
nav ul li a{
    text-decoration:solid;
    color:#333;
    font-weight:bold;
    text-shadow:1px 1px #fff;
    transition: transform 0.3s ease;
    display: block;
}
nav ul li a:hover{
    transform:scale(1.2);
}
.section{
    padding:20px;
    margin:20px auto;
    max-width:80%;
    background:#f8f8ff;
    border:5px ridge black;
    border-radius:15px;
}
.project{
    display:flex;
    align-items:center;
    margin:20px 0;
}
.star-animation{
    width:30px;
    height:30px;
    background:linear-gradient(to bottom right,yellow,#ffd700,yellow);
    clip-path:polygon(50% 0% ,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
    animation:floating 2s infinite ease-in-out;
    position:absolute;
    top:10%;
    left:5%;
}
@keyframes slideIn{
    from{
        transform: translateY(-100%);
    opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes floating{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}
.conatct{
    display:flex;
    align-items:center;
    margin:20px 0;
    overflow: hidden;
}
table{
    border-color: black;
    width:100%;
    margin-bottom: 20px;
    border: solid black;
}
th ,td{
    border:1px solid black;
    padding:8px;
}
th {
    background-color:#87cefa;
    font-weight: bold;
}
footer{
    text-align: center;
    background:linear-gradient(to bottom right,#0000ff,#00ffff,#0000ff);
    padding: 10px;
    border-top:5px dashed black;
}
.button{
    position:relative;
    color:Black;
    padding:10px 20px;
    font-size:16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow:hidden;
    margin-top: 4px;
    float:right;
}
.button:hover{
    background-color: #dae2ea;
    color:black;
    border-radius: 5px;
    box-shadow: 0 0 20px #dae2ea,0 0 40px #dae2ea,0 0 90px #dae2ea;
}
.button span{
    position: absolute;
    display: block;
}
@media(max-width:768px){
    .contact{
        padding:10px;
    }
    .table{
        padding:20px;
    }
}